doctype html
html
    head
        title= "Dataset de Pessoas"
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    body
        header(class='w3-container w3-teal')
            h1
                a(href="/" style="text-decoration: none;") Dataset de Pessoas
        block content
        footer(class='w3-container w3-teal')
            p Rodapé
