doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
    script(src='/javascript/fileManager.js')
  body
    block content
